		<div class="photo">
			<img src="<%= @img_url %>" >
		</div>

		<div class="about">
			<ul>Here is some info on your movie:
				<li>Title: <%= @movie_title %> </li>
				<li>Director: <%= @movie_director %> </li>
				<li>Release: <%= @movie_released %> </li>
				<li>Rating: <%= @movie_rating %> </li>
			</ul>

		</div>