		<div class="photo">
			<img src="<%= @img_url %>" >
		</div>

		<div class="about">
			<div>
				<ul>Here is some basic info about your stock:
					<li>Symbol: <%= @stock_symbol %> </li>
					<li>Company: <%= @stock_symbol %> </li>
					<li>Today's High: <%= @stock_high %> </li>
					<li>Today's Low: <%= @stock_low %> </li>
					<li>Open: <%= @stock_open %> </li>
					<li>Volume: <%= @stock_volume %> </li>				
				</ul>
			</div>
			<form action="/stocks_results" method="search">
				<legend>Search for a stock by symbol</legend>
				<input type="text" name="symbol" value="<%= @symbol %>">
				<button>Search</button>
			</form>

		</div>